@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    -webkit-tap-highlight-color: transparent; /* remove Android highlights taps on links */
    @apply text-black antialiased;
  }
}

@layer components {
  .page-container {
    @apply container mx-auto px-4 pb-40 pt-6 sm:px-8 sm:pt-14 xl:px-12;
  }
}
